[submodule "modules/go-mode.el"]
	path = modules/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule "modules/emacs-dashboard"]
	path = modules/emacs-dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard
[submodule "modules/pages-break-lines"]
	path = modules/pages-break-lines
	url = https://github.com/purcell/page-break-lines
[submodule "modules/all-the-icons.el"]
	path = modules/all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el
[submodule "modules/emacs-memoize"]
	path = modules/emacs-memoize
	url = https://github.com/skeeto/emacs-memoize.git
[submodule "modules/yaml-mode"]
	path = modules/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "modules/treemacs"]
	path = modules/treemacs
	url = https://github.com/Alexander-Miller/treemacs.git
[submodule "modules/lsp-treemacs"]
	path = modules/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs.git
[submodule "modules/ace-window"]
	path = modules/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "modules/avy"]
	path = modules/avy
	url = https://github.com/abo-abo/avy.git
[submodule "modules/pfuture"]
	path = modules/pfuture
	url = https://github.com/Alexander-Miller/pfuture.git
[submodule "modules/hydra"]
	path = modules/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "modules/magit"]
	path = modules/magit
	url = https://github.com/magit/magit.git
[submodule "modules/transient"]
	path = modules/transient
	url = https://github.com/magit/transient.git
[submodule "modules/org-mode"]
	path = modules/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "modules/go-mode"]
	path = modules/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "modules/nyan-mode"]
	path = modules/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode
[submodule "modules/doom-modeline"]
	path = modules/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "modules/shrink-path"]
	path = modules/shrink-path
	url = https://github.com/emacsmirror/shrink-path
[submodule "modules/company-box"]
	path = modules/company-box
	url = https://github.com/sebastiencs/company-box
[submodule "modules/prescient.el"]
	path = modules/prescient.el
	url = https://github.com/raxod502/prescient.el
[submodule "modules/company-quickhelp"]
	path = modules/company-quickhelp
	url = https://github.com/expez/company-quickhelp
[submodule "modules/rainbow-delimiters"]
	path = modules/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "modules/editorconfig-emacs"]
	path = modules/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs
[submodule "modules/lsp-mode"]
	path = modules/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "modules/lsp-ui"]
	path = modules/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "modules/dash.el"]
	path = modules/dash.el
	url = https://github.com/magnars/dash.el
[submodule "modules/s.el"]
	path = modules/s.el
	url = https://github.com/magnars/s.el.git
[submodule "modules/f.el"]
	path = modules/f.el
	url = https://github.com/rejeep/f.el
[submodule "modules/modules/projectile"]
	path = modules/modules/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "modules/modules/emacs-eim"]
	path = modules/modules/emacs-eim
	url = https://github.com/wenbinye/emacs-eim
[submodule "modules/projectile"]
	path = modules/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "modules/emacs-eim"]
	path = modules/emacs-eim
	url = https://github.com/wenbinye/emacs-eim
[submodule "modules/popup-el"]
	path = modules/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "modules/emacs-async"]
	path = modules/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "modules/magit-popup"]
	path = modules/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "modules/with-editor"]
	path = modules/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "modules/markdown-mode"]
	path = modules/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "modules/ghub"]
	path = modules/ghub
	url = https://github.com/magit/ghub.git
[submodule "modules/helm"]
	path = modules/helm
	url = https://github.com/emacs-helm/helm
[submodule "modules/company-mode"]
	path = modules/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "modules/ht.el"]
	path = modules/ht.el
	url = https://github.com/Wilfred/ht.el.git
[submodule "modules/spinner.el"]
	path = modules/spinner.el
	url = https://github.com/Malabarba/spinner.el
[submodule "modules/dap-mode"]
	path = modules/dap-mode
	url = https://github.com/emacs-lsp/dap-mode.git
[submodule "modules/company-lsp"]
	path = modules/company-lsp
	url = https://github.com/tigersoldier/company-lsp.git
[submodule "modules/flycheck"]
	path = modules/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "modules/treepy.el"]
	path = modules/treepy.el
	url = https://github.com/volrath/treepy.el
[submodule "modules/tabbar"]
	path = modules/tabbar
	url = https://github.com/dholm/tabbar.git
[submodule "modules/ert-runner.el"]
	path = modules/ert-runner.el
	url = https://github.com/rejeep/ert-runner.el.git
[submodule "modules/emacs-htmlize"]
	path = modules/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule "modules/commander"]
	path = modules/commander
	url = https://github.com/rejeep/commander.el.git
[submodule "modules/libegit2"]
	path = modules/libegit2
	url = https://github.com/magit/libegit2.git
[submodule "modules/ansi.el"]
	path = modules/ansi.el
	url = https://github.com/rejeep/ansi.el
[submodule "modules/shut-up"]
	path = modules/shut-up
	url = https://github.com/cask/shut-up
[submodule "modules/tabbar-ruler.el"]
	path = modules/tabbar-ruler.el
	url = https://github.com/mattfidler/tabbar-ruler.el
[submodule "modules/mode-icons"]
	path = modules/mode-icons
	url = https://github.com/ryuslash/mode-icons
[submodule "modules/flutter.el"]
	path = modules/flutter.el
	url = https://github.com/amake/flutter.el.git
[submodule "modules/dart-mode"]
	path = modules/dart-mode
	url = https://github.com/bradyt/dart-mode.git
[submodule "modules/emacs-hcl-mode"]
	path = modules/emacs-hcl-mode
	url = https://github.com/syohex/emacs-hcl-mode.git
[submodule "modules/emacs-terraform-mode"]
	path = modules/emacs-terraform-mode
	url = https://github.com/syohex/emacs-terraform-mode.git
[submodule "modules/emacs-company-terraform"]
	path = modules/emacs-company-terraform
	url = https://github.com/rafalcieslak/emacs-company-terraform.git
[submodule "deps/ccls"]
	path = deps/ccls
	url = https://github.com/MaskRay/ccls.git
[submodule "deps/tools"]
	path = deps/tools
	url = https://github.com/golang/tools
[submodule "modules/emacs-ccls"]
	path = modules/emacs-ccls
	url = https://github.com/MaskRay/emacs-ccls.git
[submodule "modules/elfeed"]
	path = modules/elfeed
	url = https://github.com/skeeto/elfeed.git
[submodule "modules/web-mode"]
	path = modules/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "deps/terraform"]
	path = deps/terraform
	url = https://github.com/hashicorp/terraform
[submodule "modules/typescript.el"]
	path = modules/typescript.el
	url = https://github.com/emacs-typescript/typescript.el.git
[submodule "modules/multi-cursors.el"]
	path = modules/multi-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
[submodule "deps/rls"]
	path = deps/rls
	url = https://github.com/rust-lang/rls
[submodule "deps/flutter"]
	path = deps/flutter
	url = https://github.com/flutter/flutter
[submodule "modules/prettier-emacs"]
	path = modules/prettier-emacs
	url = https://github.com/prettier/prettier-emacs.git
[submodule "modules/cider"]
	path = modules/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "modules/rubocop-emacs"]
	path = modules/rubocop-emacs
	url = https://github.com/rubocop-hq/rubocop-emacs.git
[submodule "modules/lsp-dockerfile"]
	path = modules/lsp-dockerfile
	url = https://github.com/colincarr-bcbsnc/lsp-dockerfile.git
[submodule "modules/dockerfile-mode"]
	path = modules/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "modules/formatters.el"]
	path = modules/formatters.el
	url = git@github.com:ppphp/formatters.el.git
[submodule "modules/emacs-doom-themes"]
	path = modules/emacs-doom-themes
	url = https://github.com/hlissner/emacs-doom-themes.git
[submodule "modules/powerline"]
	path = modules/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "modules/swiper"]
	path = modules/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "modules/counsel-projectile"]
	path = modules/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile.git
[submodule "modules/highlight-defined"]
	path = modules/highlight-defined
	url = https://github.com/Fanael/highlight-defined.git
[submodule "modules/tree-mode"]
	path = modules/tree-mode
	url = https://github.com/emacsorphanage/tree-mode.git
[submodule "modules/bui.el"]
	path = modules/bui.el
	url = https://github.com/alezost/bui.el
[submodule "modules/ivy-xref"]
	path = modules/ivy-xref
	url = https://github.com/alexmurray/ivy-xref.git
[submodule "modules/diff-hl"]
	path = modules/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "snippets/yasnippet-snippets"]
	path = snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "modules/lsp-java"]
	path = modules/lsp-java
	url = https://github.com/emacs-lsp/lsp-java.git
[submodule "modules/emacs-request"]
	path = modules/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "modules/evil"]
	path = modules/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "modules/goto-chg"]
	path = modules/goto-chg
	url = https://github.com/emacs-evil/goto-chg
[submodule "modules/major-mode-hydra.el"]
	path = modules/major-mode-hydra.el
	url = https://github.com/jerrypnz/major-mode-hydra.el
[submodule "modules/hydra-posframe"]
	path = modules/hydra-posframe
	url = https://github.com/Ladicle/hydra-posframe.git
[submodule "modules/posframe"]
	path = modules/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "modules/emacs-application-framework.git"]
	path = modules/emacs-application-framework.git
	url = https://github.com/manateelazycat/emacs-application-framework
[submodule "modules/origami.el"]
	path = modules/origami.el
	url = https://github.com/gregsexton/origami.el
[submodule "modules/ivy-posframe"]
	path = modules/ivy-posframe
	url = https://github.com/tumashu/ivy-posframe.git
[submodule "modules/ivy-rich"]
	path = modules/ivy-rich
	url = https://github.com/Yevgnen/ivy-rich.git
[submodule "modules/flycheck-posframe"]
	path = modules/flycheck-posframe
	url = https://github.com/alexmurray/flycheck-posframe.git
[submodule "modules/undo-tree"]
	path = modules/undo-tree
	url = https://github.com/emacsorphanage/undo-tree.git
[submodule "emacs-htmlize"]
	path = emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "modules/lsp-origami"]
	path = modules/lsp-origami
	url = https://github.com/emacs-lsp/lsp-origami
[submodule "modules/hl-todo"]
	path = modules/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "modules/all-the-icons-ivy-rich"]
	path = modules/all-the-icons-ivy-rich
	url = https://github.com/seagle0128/all-the-icons-ivy-rich.git
[submodule "themes/atom-one-dark-theme"]
	path = themes/atom-one-dark-theme
	url = https://github.com/jonathanchu/atom-one-dark-theme.git
[submodule "modules/emacs-purpose"]
	path = modules/emacs-purpose
	url = https://github.com/bmag/emacs-purpose.git

[submodule "modules/handlebars-mode"]
	path = modules/handlebars-mode
	url = https://github.com/ppphp/handlebars-mode
[submodule "modules/smex"]
	path = modules/smex
	url = https://github.com/nonsequitur/smex
[submodule "modules/subpackage.el"]
	path = modules/subpackage.el
	url = git@github.com:ppphp/subpackage.el.git
[submodule "modules/persp-projectile"]
	path = modules/persp-projectile
	url = https://github.com/bbatsov/persp-projectile
[submodule "modules/imenu-list"]
	path = modules/imenu-list
	url = https://github.com/ppphp/imenu-list
[submodule "modules/perspective-el"]
	path = modules/perspective-el
	url = https://github.com/nex3/perspective-el
[submodule "modules/all-the-icons-dired"]
	path = modules/all-the-icons-dired
	url = https://github.com/jtbm37/all-the-icons-dired
[submodule "modules/ox-gfm"]
	path = modules/ox-gfm
	url = https://github.com/larstvei/ox-gfm
[submodule "modules/org-bullets"]
	path = modules/org-bullets
	url = https://github.com/sabof/org-bullets
[submodule "modules/org-rich-yank"]
	path = modules/org-rich-yank
	url = https://github.com/unhammer/org-rich-yank
[submodule "modules/toc-org"]
	path = modules/toc-org
	url = https://github.com/snosov1/toc-org
[submodule "modules/org-preview-html"]
	path = modules/org-preview-html
	url = https://github.com/lujun9972/org-preview-html
[submodule "modules/org-roam"]
	path = modules/org-roam
	url = https://github.com/jethrokuan/org-roam
[submodule "notes"]
	path = notes
	url = git@github.com:ppphp/ppphp.github.io
[submodule "modules/multi-term"]
	path = modules/multi-term
	url = git@github.com:ppphp/multi-term
[submodule "modules/lsp-ivy"]
	path = modules/lsp-ivy
	url = https://github.com/emacs-lsp/lsp-ivy
[submodule "google-translate"]
	path = google-translate
	url = https://github.com/atykhonov/google-translate.git
[submodule "modules/google-translate"]
	path = modules/google-translate
	url = https://github.com/atykhonov/google-translate
[submodule "modules/leetcode.el"]
	path = modules/leetcode.el
	url = https://github.com/kaiwk/leetcode.el
[submodule "modules/flx"]
	path = modules/flx
	url = https://github.com/lewang/flx.git
[submodule "modules/emacsql"]
	path = modules/emacsql
	url = https://github.com/skeeto/emacsql
[submodule "modules/emacsql-sqlite3"]
	path = modules/emacsql-sqlite3
	url = https://github.com/cireu/emacsql-sqlite3
[submodule "modules/groovy-emacs-modes"]
	path = modules/groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes
[submodule "modules/jenkinsfile-mode"]
	path = modules/jenkinsfile-mode
	url = https://github.com/john2x/jenkinsfile-mode
[submodule "modules/org-pomodoro"]
	path = modules/org-pomodoro
	url = https://github.com/marcinkoziej/org-pomodoro
[submodule "modules/auctex"]
	path = modules/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "modules/GoTests-Emacs"]
	path = modules/GoTests-Emacs
	url = https://github.com/damienlevin/GoTests-Emacs
[submodule "modules/flycheck-golangci-lint"]
	path = modules/flycheck-golangci-lint
	url = https://github.com/weijiangan/flycheck-golangci-lint
[submodule "modules/go-gen-test"]
	path = modules/go-gen-test
	url = https://github.com/s-kostyaev/go-gen-test
[submodule "modules/go-fill-struct"]
	path = modules/go-fill-struct
	url = https://github.com/s-kostyaev/go-fill-struct
[submodule "modules/emacs-go-tag"]
	path = modules/emacs-go-tag
	url = https://github.com/brantou/emacs-go-tag
[submodule "modules/go-imple.el"]
	path = modules/go-imple.el
	url = https://github.com/dominikh/go-impl.el
[submodule "deps/gomodifytags"]
	path = deps/gomodifytags
	url = https://github.com/fatih/gomodifytags
[submodule "deps/impl"]
	path = deps/impl
	url = https://github.com/josharian/impl
[submodule "deps/fillstruct"]
	path = deps/fillstruct
	url = https://github.com/davidrjenni/reftools/
[submodule "deps/gotests"]
	path = deps/gotests
	url = https://github.com/cweill/gotests
[submodule "modules/go-playground"]
	path = modules/go-playground
	url = https://github.com/grafov/go-playground
[submodule "modules/gotest.el"]
	path = modules/gotest.el
	url = https://github.com/nlamirault/gotest.el
[submodule "modules/org-projectile"]
	path = modules/org-projectile
	url = https://github.com/IvanMalison/org-projectile
[submodule "modules/emacs-which-key"]
	path = modules/emacs-which-key
	url = https://github.com/justbur/emacs-which-key/
[submodule "modules/ob-go"]
	path = modules/ob-go
	url = https://github.com/pope/ob-go
[submodule "modules/ob-ipython"]
	path = modules/ob-ipython
	url = https://github.com/gregsexton/ob-ipython
[submodule "modules/ob-async"]
	path = modules/ob-async
	url = https://github.com/astahlman/ob-async
[submodule "modules/ob-mermaid"]
	path = modules/ob-mermaid
	url = https://github.com/arnm/ob-mermaid
[submodule "modules/ob-elixir"]
	path = modules/ob-elixir
	url = https://github.com/zweifisch/ob-elixir
[submodule "modules/ob-swift"]
	path = modules/ob-swift
	url = https://github.com/zweifisch/ob-swift
[submodule "modules/ob-rust"]
	path = modules/ob-rust
	url = https://github.com/zweifisch/ob-rust
[submodule "modules/ob-lilypond"]
	path = modules/ob-lilypond
	url = https://github.com/mjago/ob-lilypond
[submodule "modules/org-journal"]
	path = modules/org-journal
	url = https://github.com/bastibe/org-journal
[submodule "modules/org-super-agenda"]
	path = modules/org-super-agenda
	url = https://github.com/alphapapa/org-super-agenda
[submodule "modules/helpful"]
	path = modules/helpful
	url = https://github.com/Wilfred/helpful
[submodule "modules/org-tree-slide"]
	path = modules/org-tree-slide
	url = https://github.com/takaxp/org-tree-slide
[submodule "modules/hover.el"]
	path = modules/hover.el
	url = https://github.com/ericdallo/hover.el
[submodule "modules/parrot"]
	path = modules/parrot
	url = https://github.com/dp12/parrot
[submodule "deps/hover"]
	path = deps/hover
	url = https://github.com/go-flutter-desktop/hover
[submodule "modules/lsp-dart"]
	path = modules/lsp-dart
	url = https://github.com/emacs-lsp/lsp-dart
[submodule "deps/rust-analyzer"]
	path = deps/rust-analyzer
	url = https://github.com/rust-analyzer/rust-analyzer
[submodule "modules/olivetti"]
	path = modules/olivetti
	url = https://github.com/rnkn/olivetti
[submodule "modules/fountain-mode"]
	path = modules/fountain-mode
	url = https://github.com/rnkn/fountain-mode
[submodule "modules/elisp-refs"]
	path = modules/elisp-refs
	url = https://github.com/Wilfred/elisp-refs
[submodule "modules/loop.el"]
	path = modules/loop.el
	url = https://github.com/Wilfred/loop.el
[submodule "modules/hungry-delete"]
	path = modules/hungry-delete
	url = https://github.com/nflath/hungry-delete
[submodule "modules/pkg-info"]
	path = modules/pkg-info
	url = https://github.com/emacsorphanage/pkg-info
[submodule "modules/epl"]
	path = modules/epl
	url = https://github.com/cask/epl
[submodule "modules/frame-local"]
	path = modules/frame-local
	url = https://github.com/sebastiencs/frame-local
[submodule "modules/lsp-powershell"]
	path = modules/lsp-powershell
	url = https://github.com/kiennq/lsp-powershell
[submodule "modules/dart-server"]
	path = modules/dart-server
	url = https://github.com/bradyt/dart-server
[submodule "modules/straight.el"]
	path = modules/straight.el
	url = https://github.com/raxod502/straight.el
[submodule "modules/use-package"]
	path = modules/use-package
	url = https://github.com/jwiegley/use-package
[submodule "modules/git-modes"]
	path = modules/git-modes
	url = https://github.com/magit/git-modes
[submodule "modules/flycheck-popup-tip"]
	path = modules/flycheck-popup-tip
	url = https://github.com/flycheck/flycheck-popup-tip
[submodule "modules/flycheck-pos-tip"]
	path = modules/flycheck-pos-tip
	url = https://github.com/flycheck/flycheck-pos-tip
[submodule "modules/diminish.el"]
	path = modules/diminish.el
	url = https://github.com/myrjola/diminish.el
[submodule "modules/org-roam-server"]
	path = modules/org-roam-server
	url = https://github.com/org-roam/org-roam-server
[submodule "modules/alert"]
	path = modules/alert
	url = https://github.com/jwiegley/alert
[submodule "modules/pos-tip"]
	path = modules/pos-tip
	url = https://github.com/syohex/pos-tip
[submodule "modules/forge"]
	path = modules/forge
	url = https://github.com/magit/forge
[submodule "modules/rustic"]
	path = modules/rustic
	url = https://github.com/brotzeit/rustic
[submodule "modules/xterm-color"]
	path = modules/xterm-color
	url = https://github.com/atomontage/xterm-color
[submodule "modules/emacs-so-long"]
	path = modules/emacs-so-long
	url = https://github.com/hlissner/emacs-so-long
[submodule "modules/closql"]
	path = modules/closql
	url = https://github.com/emacscollective/closql
[submodule "modules/magit-todos"]
	path = modules/magit-todos
	url = https://github.com/alphapapa/magit-todos
[submodule "modules/pcre2el"]
	path = modules/pcre2el
	url = https://github.com/joddie/pcre2el
[submodule "modules/benchmark-init-el"]
	path = modules/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el
[submodule "modules/ts.el"]
	path = modules/ts.el
	url = https://github.com/alphapapa/ts.el
[submodule "modules/org-krita"]
	path = modules/org-krita
	url = https://github.com/lepisma/org-krita
