[submodule "neotree"]
	path = neotree
	url = https://github.com/jaypei/emacs-neotree
[submodule "multi-term"]
	path = multi-term
	url = https://github.com/emacsorphanage/multi-term.git
[submodule "projectile"]
	path = projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "org-mode"]
	path = org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "rust-mode"]
	path = rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "elixir-mode"]
	path = elixir-mode
	url = https://github.com/elixir-editors/emacs-elixir.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "eim"]
	path = eim
	url = https://github.com/wenbinye/emacs-eim
